{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "user_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.user_id),
    "group_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.group_id),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#user_id) AND attribute_not_exists(#group_id)",
    "expressionNames": {
      "#user_id": "user_id",
      "#group_id": "group_id",
    },
  },
}
