{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "user_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.user_id),
    "group_id": $util.dynamodb.toDynamoDBJson($ctx.args.input.group_id),
  },
}