{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index" : "GroupIdIndex",
    "query" : {
        "expression": "group_id = :group_id",
        "expressionValues" : {
            ":group_id" : $util.dynamodb.toDynamoDBJson($ctx.args.group_id)
        }
    }
}